APP_NAME="TvChart API"
APP_ENV=local
APP_KEY=
APP_DEBUG=true
APP_URL=https://tvchart-api.test

LOG_CHANNEL=stack

DB_CONNECTION=pgsql
DB_HOST=127.0.0.1
DB_PORT=5432
DB_DATABASE=tvchart_api
DB_USERNAME=root
DB_PASSWORD=

SESSION_DRIVER=file
SESSION_LIFETIME=120
SESSION_SECURE_COOKIE=true
QUEUE_CONNECTION=sync
CACHE_DRIVER=file
CACHE_PREFIX=
BROADCAST_CONNECTION=log

REDIS_HOST=127.0.0.1
REDIS_PASSWORD=null
REDIS_PORT=6379

MAIL_MAILER=smtp
MAIL_HOST=127.0.0.1
MAIL_PORT=2525
MAIL_USERNAME="${APP_NAME}"
MAIL_PASSWORD=null

# ++++++++++++++++++++++++++++
# ++++ APPLICATION CONFIG ++++
# ++++++++++++++++++++++++++++

# --- Site Configuration ---
TELESCOPE_ENABLED=true # Disable for production!
ADMIN_DEFAULT_PASSWORD=secret # Remove for production!
SENTRY_LARAVEL_DSN=
SERVER_ENV=local

# --- APIs ---
TMDB_API_TOKEN="eyJh..."
OMDB_API_TOKEN= # Only available to patrons
TRAKT_API_TOKEN=

# --- Mail ---
LETTERMINT_PROJECT_TOKEN=
