node_modules
/public/hot
/public/storage
/public/css
/public/js
/public/images
/public/fonts
/public/mix-manifest.json
/public/vendor
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
.php-cs-fixer.cache
docker-compose.override.yml
npm-debug.log
yarn-error.log
/.idea
/.vscode
/reports
