.lm-table {
  @apply border-gray-200 text-sm;

  border-style: solid;
  border-width: 1px;
  width: 100%;

  td, th {
    @apply border-gray-200 p-5;

    border-style: solid;
    border-width: 1px;
  }

  th {
    @apply text-primary-500;

    text-align: left;
  }

  tbody tr:nth-child(even) {
    background-color: #F7F7F7;
  }

  thead tr {
    background-color: #F7F7F7;
  }
}

.lm-divider {
  @apply border-gray-300;

  border-top-style: solid;
  border-top-width: 1px;
  width: 100%;
}
